/transient/
/tramp
/.lsp-session-v1
/auto-save-list/
/history
/network-security.data
/.org-id-locations
/.last-package-update-day
/straight/
/request/
/eln-cache/
/.trello/
/chatgpt/
/games/
/forge-database.sqlite
/forge-database*
/elpa/
/projects
